*{
    background-color: black;
}
.animation div{
    width: 100px;
    height: 100px;
    border-radius: 100rem;
    border-top: 5px solid blue ;
    top: 50%;
    left: 50% ;
    position: absolute;
    animation: spinner 1s infinite ease-in-out;
}
@keyframes spinner{
    0%{transform: rotate(5deg);} 
    100%{transform: rotate(360deg);}
}
.animation .div2 {
    border-radius: 100rem;
    border-color: red;
    animation-delay: 0.1s;
}
.animation .div3 {
    border-radius: 100rem;
    border-color: green;
    animation-delay: 0.2s;
}
.animation .div4 {
    border-radius: 100rem;
    border-color: yellow;
    animation-delay: 0.3s;
}
